#cover {
	padding: 0;
}

	#cover h1,
	#cover h2 {
		margin: 0;
		filter: drop-shadow(.1rem .1rem .5rem rgba(0,0,0,.5));
	}

	#cover h1 {
		padding: 0 .1em;
		width: 4em;
		color: var(--color-aqua);
		letter-spacing: -.04em;
		font-size: 30vh;
		line-height: .8;
	}

	@supports (-webkit-background-clip: text) {
		#cover h1 {
			background: linear-gradient(to bottom right, var(--color1), var(--color2), var(--color3), var(--color2), var(--color1)) fixed;
			-webkit-background-clip: text;
			color: transparent;
		}
	}

	#cover h1 > div {
		position: relative;
		display: inline-flex;
		flex-flow: column;
		justify-content: space-between;
		vertical-align: bottom;
		background: inherit;
		background-clip: border-box;
		width: 5em;
		height: 5em;
		padding: .6em;
		margin-left: -1em;
		color: black;
		letter-spacing: -.02em;
		text-align: center;
		font-size: 11%;
		line-height: 1.2;
	}

	#cover a {
		display: block;
		text-decoration: none;
	}

	#cover a[href^="https://twitter.com"] {
		font-weight: 300;
	}

	#cover .amp {
		position: absolute;
		font: italic 600%/1 Baskerville, Palatino, serif;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		opacity: .6;
		color: white;
		mix-blend-mode: soft-light;
	}

html:not([data-profile="speaker"]) .hint {
	display: none;
}

article.placeholder {
	font-family: Reenie Beanie;
	color: #777;
}



.poop.slide {

}

	.poop.slide span.poop {
	animation: poop-dance .8s 2s infinite alternate ease-in-out;
	display: inline-block;
	font-size: 20vh;
	line-height: 1.2;
	}

	@keyframes poop-dance {
		from, 49% { transform-origin: -50% 100%; }
		50%, 75%, to { transform-origin: 150% 100%; }
		25% { transform: rotate(-10deg); }
		50% { transform: rotate(0deg); }
		75% { transform: rotate(10deg); }
	}



/* #mavo-short-cubic path {
	fill: none;
	stroke: white;
}

#mavo-short-cubic circle {
	fill: yellow;
}

#mavo-short-cubic circle.r {
	fill: cyan;
} */

@keyframes viewing {
	10%, 60% {
		width: var(--large);
	}

	10%, 20%,
	50%, 80% {
		height: var(--large);
	}

	10%,
	60% {
		left: 100%;
	}

	10%, 20%,
	50%, 80% {
		top: 100%;
	}

	10%, 20%,
	50%, 60% {
		transform: translate(-100%, -100%);
		object-fit: contain;
	}

	30%, 40% {
		top: 0;
		height: var(--small);
		transform: translate(-100%, 0%);
	}

	70%, 80% {
		left: 0;
		width: var(--small);
		transform: translate(0%, -100%);
	}

	70%, to {
		object-fit: cover;
	}
}

#viewing {
	--small: 20vmin;
	--large: 65vmin;
}

#viewing > div {
	position: relative;
	width: calc(100vmin - 5rem);
	height: calc(100vmin - 2rem);
}

#viewing img {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--small);
	height: var(--small);
	border: 1px solid hsla(0,0%,100%,.3);
}

#viewing:target img {
	animation: 6s viewing both infinite;
}

	#viewing .placeholder::before,
	#viewing .placeholder::after,
	#viewing > div::before,
	#viewing > div::after {
		content: "";
		top: 0;
		left: 0;
		width: var(--small);
		height: var(--small);
		position: absolute;
		border: 1px solid hsla(0,0%,100%,.2);
	}

	#viewing > div::before,
	#viewing .placeholder::before {
		width: var(--large);
		left: 100%;
		transform: translate(-100%, 0%);
	}

	#viewing > div::after,
	#viewing .placeholder::before {
		height: var(--large);
		top: 100%;
		transform: translate(0%, -100%);
	}

	#viewing .placeholder::before {
		transform: translate(-100%, -100%);
	}

#path-intro {
	font-family: var(--font-handwritten);
	color: #777;
}

	#path-intro svg {
		overflow: visible;
		xbackground: hsl(0,0%,90%,.3)
	}

	#path-intro path {
		fill: none;
		stroke: white;
		stroke-width: 2px;
		stroke-linecap: round;
	}

	#path-intro circle,
	#path-intro line,
	#path-intro rect {
		stroke: hsl(220, 10%, 60%);
	}

	#path-intro circle {
		fill: var(--color1);

		r: 3;
	}

	#path-intro line,
	#path-intro rect {

	}

	#path-intro rect {
		fill: var(--light1);
		xstroke: black;

		stroke-width: .6px;
	}

	#path-intro .sliders {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-flow: column;
	}

		#path-intro label {
			margin: .25em .5em;
			flex: 1;
			white-space: nowrap;
			line-height: 1;
		}

		#path-intro label:nth-child(3) {
			margin-top: 1em;
		}

			#path-intro label input {
				display: block;
			}

#y-down {

}

	#y-down div {
		position: relative;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: 1fr auto;
		width: calc(100vmin - 2em);
		height: calc(100vmin - 2em);
		padding: 1em 0 0 1em;
		box-sizing: border-box;
		background: linear-gradient(white, white) 0 0 / 1px 100% repeat-y,
		linear-gradient(white, white) 0 0 / 100% 1px repeat-x;
		background-origin: content-box;
		background-clip: border-box;
		line-height: 2;
		text-indent: .6em;
	}

		#y-down div span {

		}

		#y-down .y::before {
			content: "";
			position: absolute;
			background: white;
			width: .3em;
			height: .4em;
			clip-path: polygon(0 0, 100% 0, 50% 100%);
			left: .85em;
			top: 100%;
		}

		#y-down .x::before {
			content: "";
			position: absolute;
			background: white;
			width: .4em;
			height: .3em;
			clip-path: polygon(0 0, 0 100%, 100% 50%);
			top: .85em;
			left: 100%;
		}
